@import "tailwindcss";

/* Custom gradient text utility */
.gradient-text {
  background: linear-gradient(to right, #24edfb, #f97316);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}